In [20]:
import warnings
warnings.filterwarnings(action='ignore')

In [1]:
%run moon_code

In [2]:
import matplotlib
matplotlib.rcParams['axes.unicode_minus'] = False

In [3]:
kospi200, name_dict, code_dict = load_code_name_data("./data/data.csv", True)
party_df = load_party_data('party_df.csv')

In [5]:
with open('학습준비파일_20181013.pickle', 'rb') as handle:
    store = pickle.load(handle)

In [6]:
train, test, X_li, scl_X_li, target_li = store

In [183]:
%run xgb_modelfit

In [125]:
alg

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0, learning_rate=0.15, max_delta_step=0,
       max_depth=5, min_child_weight=2, missing=None, n_estimators=1000,
       n_jobs=1, nthread=4, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=0.8)

In [29]:
'scl_close_ma_3'.find('vol')

-1

In [91]:
scl_li = scl_X_li.copy()
for ix, i in enumerate(scl_X_li):
    if (i.find('returns') != -1) or (i.find('his') != -1) or (i.find('pct') != -1):
        scl_li[ix] = scl_X_li[ix][4:]

# 실험 1
- Predictors : Not-Scaled
- Target : Y1

In [188]:
alg = XGBClassifier(
 learning_rate =0.15,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=2,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

In [189]:
predictors = X_li.copy()
target = 'Y1'

In [190]:
result1, fi_dict1 = temp_calc_feature_importance(alg, train, test, predictors, target)

TypeError: modelfit() got multiple values for argument 'alg'

In [187]:
pd.DataFrame(result1, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.541322,0.475207,0.525210,0.541322,0.429752,0.561983,0.551867,0.574380,0.400826,0.495868,0.438017,0.450413
f1,0.623729,0.086331,0.600707,0.310559,0.434426,0.670807,0.593985,0.225564,0.013605,0.460177,0.531034,0.273224
pre,0.779661,0.047244,0.809524,0.195312,0.495327,0.824427,0.699115,0.142857,0.007143,0.419355,0.785714,0.255102
rec,0.519774,0.500000,0.477528,0.757576,0.386861,0.565445,0.516340,0.535714,0.142857,0.509804,0.401042,0.294118
auc,0.559887,0.486957,0.572097,0.632376,0.436288,0.557232,0.564988,0.557577,0.275684,0.497759,0.490521,0.414575

In [143]:
pd.DataFrame(result1, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.498847
f1     0.402012
pre    0.455065
rec    0.467255
auc    0.503828
dtype: float64

In [144]:
pd.DataFrame(fi_dict1).count(1).sort_values(ascending=False)[:10]

his_vol_7              10
his_vol_60             10
his_vol_30             10
his_vol_21              9
his_vol_120             8
his_vol_100             8
volume_ma_3             6
his_vol_91              6
his_vol_90              6
returnsOpenPrevRaw1     5
dtype: int64

# 실험 1-1
- predictors : Scaled
- target : Y1

In [145]:
predictors = scl_li.copy()
target = 'Y1'

In [146]:
result1_1, fi_dict1_1 = temp_calc_feature_importance(alg, train, test, predictors, target)

In [147]:
pd.DataFrame(result1_1, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.541322,0.475207,0.525210,0.541322,0.429752,0.561983,0.551867,0.578512,0.396694,0.495868,0.446281,0.450413
f1,0.626263,0.099291,0.600707,0.310559,0.434426,0.672840,0.593985,0.260870,0.000000,0.460177,0.547297,0.273224
pre,0.788136,0.055118,0.809524,0.195312,0.495327,0.832061,0.699115,0.171429,0.000000,0.419355,0.826531,0.255102
rec,0.519553,0.500000,0.477528,0.757576,0.386861,0.564767,0.516340,0.545455,0.000000,0.509804,0.409091,0.294118
auc,0.561364,0.486842,0.572097,0.632376,0.436288,0.557894,0.564988,0.564593,0.203390,0.497759,0.511364,0.414575

In [148]:
pd.DataFrame(result1_1, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.499536
f1     0.406636
pre    0.462251
rec    0.456758
auc    0.500294
dtype: float64

In [149]:
pd.DataFrame(fi_dict1_1).count(1).sort_values(ascending=False)[:10]

his_vol_30              10
his_vol_60              10
his_vol_7               10
his_vol_21               9
his_vol_91               8
his_vol_100              7
his_vol_120              6
his_vol_90               6
scl_volume_ma_3          5
returnsOpenPrevRaw10     4
dtype: int64

# 실험 2
- predictors : not_scaled
- target : Y2

In [150]:
predictors = X_li.copy()
target = 'Y2'

In [151]:
result2, fi_dict2 = temp_calc_feature_importance(alg, train, test, predictors, target)

In [152]:
pd.DataFrame(result2, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.520661,0.549587,0.529412,0.520661,0.553719,0.471074,0.539419,0.636364,0.479339,0.500000,0.471074,0.533058
f1,0.602740,0.524017,0.559055,0.325581,0.142857,0.438596,0.543210,0.639344,0.483607,0.437209,0.396226,0.553360
pre,0.721311,0.495868,0.639640,0.235294,0.081081,0.438596,0.554622,0.639344,0.536364,0.443396,0.341463,0.603448
rec,0.517647,0.555556,0.496503,0.528302,0.600000,0.438596,0.532258,0.639344,0.440299,0.431193,0.471910,0.510949
auc,0.522712,0.550166,0.537725,0.523410,0.575330,0.469298,0.539633,0.636339,0.484038,0.493792,0.471249,0.536427

In [153]:
pd.DataFrame(result2, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.525364
f1     0.470484
pre    0.477536
rec    0.513546
auc    0.528343
dtype: float64

In [154]:
pd.DataFrame(fi_dict2).count(1).sort_values(ascending=False)[:10]

returnsOpenPrevRaw1         8
returnsClosePrevMktres1     8
returnsClosePrevMktres10    8
his_vol_21                  7
returnsClosePrevRaw1        7
returnsOpenPrevMktres1      7
pct_change                  6
his_vol_120                 5
returnsOpenPrevMktres10     5
volume_ma_17                4
dtype: int64

##### 실험 2-1
- predictors : scaled
- target : Y2

In [155]:
predictors = scl_li.copy()
target = 'Y2'

In [156]:
result2_1, fi_dict2_1 = temp_calc_feature_importance(alg, train, test, predictors, target)

In [157]:
pd.DataFrame(result2_1, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.520661,0.549587,0.529412,0.520661,0.553719,0.471074,0.539419,0.636364,0.479339,0.500000,0.471074,0.533058
f1,0.602740,0.524017,0.559055,0.325581,0.142857,0.438596,0.543210,0.639344,0.483607,0.437209,0.396226,0.553360
pre,0.721311,0.495868,0.639640,0.235294,0.081081,0.438596,0.554622,0.639344,0.536364,0.443396,0.341463,0.603448
rec,0.517647,0.555556,0.496503,0.528302,0.600000,0.438596,0.532258,0.639344,0.440299,0.431193,0.471910,0.510949
auc,0.522712,0.550166,0.537725,0.523410,0.575330,0.469298,0.539633,0.636339,0.484038,0.493792,0.471249,0.536427

In [158]:
pd.DataFrame(result2_1, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.525364
f1     0.470484
pre    0.477536
rec    0.513546
auc    0.528343
dtype: float64

In [159]:
pd.DataFrame(fi_dict2_1).count(1).sort_values(ascending=False)[:10]

returnsClosePrevMktres1     8
returnsClosePrevMktres10    8
returnsOpenPrevRaw1         8
his_vol_21                  7
returnsClosePrevRaw1        7
returnsOpenPrevMktres1      7
pct_change                  6
his_vol_120                 5
returnsOpenPrevMktres10     5
scl_volume_ma_17            4
dtype: int64

# 실험 3
- predictors : not_scaled
- target : Y3

In [160]:
predictors = X_li.copy()
target = 'Y3'

In [161]:
result3, fi_dict3 = temp_calc_feature_importance(alg, train, test, predictors, target)

In [162]:
pd.DataFrame(result3, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.640496,0.706612,0.726891,0.628099,0.685950,0.578512,0.668050,0.619835,0.619835,0.702479,0.603306,0.644628
f1,0.599078,0.732075,0.673367,0.625000,0.644860,0.625000,0.694656,0.439024,0.659259,0.714286,0.606557,0.626087
pre,0.537190,0.702899,0.650485,0.585938,0.610619,0.611511,0.758333,0.336449,0.654412,0.676692,0.685185,0.666667
rec,0.677083,0.763780,0.697917,0.669643,0.683168,0.639098,0.640845,0.631579,0.664179,0.756303,0.544118,0.590164
auc,0.646761,0.703629,0.722198,0.630975,0.685556,0.571842,0.673958,0.623898,0.614497,0.703355,0.611681,0.645082

In [163]:
pd.DataFrame(result3, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.652058
f1     0.636604
pre    0.623032
rec    0.663156
auc    0.652786
dtype: float64

In [164]:
pd.DataFrame(fi_dict3).count(1).sort_values(ascending=False)[:10]

pct_change                  12
returnsClosePrevMktres10    11
returnsOpenPrevMktres10      8
returnsOpenPrevRaw1          8
Volume                       7
his_vol_21                   5
returnsOpenPrevMktres1       5
volume_ma_3                  5
volume_ma_11                 4
close_ma_17                  3
dtype: int64

##### 실험 3-1
- predictors : scaled
- target : Y3

In [178]:
predictors = scl_li.copy()
target = 'Y3'
result3_1, fi_dict3_1 = temp_calc_feature_importance(alg, train, test, predictors, target)

In [179]:
pd.DataFrame(result3_1, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.640496,0.706612,0.726891,0.628099,0.685950,0.578512,0.668050,0.619835,0.619835,0.702479,0.603306,0.644628
f1,0.599078,0.732075,0.673367,0.625000,0.644860,0.625000,0.694656,0.439024,0.659259,0.714286,0.606557,0.626087
pre,0.537190,0.702899,0.650485,0.585938,0.610619,0.611511,0.758333,0.336449,0.654412,0.676692,0.685185,0.666667
rec,0.677083,0.763780,0.697917,0.669643,0.683168,0.639098,0.640845,0.631579,0.664179,0.756303,0.544118,0.590164
auc,0.646761,0.703629,0.722198,0.630975,0.685556,0.571842,0.673958,0.623898,0.614497,0.703355,0.611681,0.645082

In [180]:
pd.DataFrame(result3_1, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.652058
f1     0.636604
pre    0.623032
rec    0.663156
auc    0.652786
dtype: float64

In [181]:
pd.DataFrame(fi_dict3_1).count(1).sort_values(ascending=False)[:10]

pct_change                  12
returnsClosePrevMktres10    11
returnsOpenPrevMktres10      8
returnsOpenPrevRaw1          8
scl_Volume                   7
his_vol_21                   5
scl_volume_ma_3              5
returnsOpenPrevMktres1       5
scl_volume_ma_11             4
scl_close_ma_17              3
dtype: int64

# 대조 실험 - Y3

In [169]:
origin_X = [i for i in X_li if i.find('returns') != 0]
origin_scl_X = [i for i in scl_li if i.find('returns') != 0]

## 대조실험 1
- predictors : returns~를 제외한 feature
- target : Y3

In [170]:
predictors = origin_X.copy()
target = 'Y3'
try:
    result, fi_dict = temp_calc_feature_importance(alg, train, test, predictors, target)
except ValueError:
    pass

In [171]:
pd.DataFrame(result, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.595041,0.545455,0.647059,0.648760,0.677686,0.566116,0.510373,0.632231,0.595041,0.723140,0.615702,0.694215
f1,0.644928,0.444444,0.655738,0.709898,0.706767,0.620939,0.473214,0.648221,0.715116,0.721992,0.640927,0.660550
pre,0.735537,0.318841,0.776699,0.812500,0.831858,0.618705,0.441667,0.766355,0.904412,0.654135,0.768519,0.666667
rec,0.574194,0.733333,0.567376,0.630303,0.614379,0.623188,0.509615,0.561644,0.591346,0.805556,0.549669,0.654545
auc,0.603189,0.608425,0.665131,0.659307,0.700448,0.556787,0.510282,0.650614,0.604497,0.731136,0.637472,0.690909

In [172]:
pd.DataFrame(result, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.620902
f1     0.636894
pre    0.691325
rec    0.617929
auc    0.634850
dtype: float64

In [173]:
pd.DataFrame(fi_dict).count(1).sort_values(ascending=False)[:10]

pct_change     12
Close          10
his_vol_120    10
his_vol_7       9
Low             9
Volume          9
his_vol_21      8
his_vol_30      6
High            5
Open            5
dtype: int64