In [1]:
%run moon_code
with open('학습준비파일_20181013.pickle', 'rb') as handle:
    store = pickle.load(handle)
train, test, X_li, scl_X_li, target_li = store
%run xgb_modelfit
scl_li = scl_X_li.copy()
for ix, i in enumerate(scl_X_li):
    if (i.find('returns') != -1) or (i.find('his') != -1) or (i.find('pct') != -1):
        scl_li[ix] = scl_X_li[ix][4:]
origin_X = [i for i in X_li if i.find('returns') != 0]
origin_scl_X = [i for i in scl_li if i.find('returns') != 0]

In [2]:
import warnings
warnings.filterwarnings(action='ignore')

# 대조실험 -Y3
- predictors : returns~를 제외한 feature
- target : Y3

In [3]:
predictors = origin_scl_X.copy()
target = 'Y3'

In [4]:
result, fi_dict = temp_calc_feature_importance(alg, train, test, predictors, target)

In [5]:
pd.DataFrame(result, index=['acc','f1','pre','rec','auc'])

,KB금융,LG화학,NAVER,POSCO,SK텔레콤,SK하이닉스,삼성전자,삼성중공업,셀트리온,현대건설,현대글로비스,현대차
acc,0.590909,0.566116,0.647059,0.644628,0.669421,0.574380,0.502075,0.628099,0.628099,0.706612,0.590909,0.685950
f1,0.640000,0.482759,0.655738,0.705479,0.696970,0.630824,0.469027,0.645669,0.711538,0.700422,0.634686,0.657658
pre,0.727273,0.355072,0.776699,0.804688,0.814159,0.633094,0.441667,0.766355,0.816176,0.624060,0.796296,0.675926
rec,0.571429,0.753846,0.567376,0.628049,0.609272,0.628571,0.500000,0.557823,0.630682,0.798077,0.527607,0.640351
auc,0.598214,0.625511,0.665131,0.653768,0.689251,0.564286,0.501852,0.647333,0.625947,0.717879,0.624563,0.683457

In [6]:
pd.DataFrame(result, index=['acc','f1','pre','rec','auc']).mean(1)

acc    0.619521
f1     0.635898
pre    0.685955
rec    0.617757
auc    0.633099
dtype: float64

In [7]:
pd.DataFrame(fi_dict).count(1).sort_values(ascending=False)[:10]

pct_change     12
his_vol_120    10
scl_Close      10
scl_Low         9
his_vol_7       9
scl_Volume      9
his_vol_21      6
his_vol_30      6
his_vol_91      6
scl_Open        6
dtype: int64