In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [3]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

In [34]:
import pandas_datareader.data
from datetime import datetime

start = datetime(2017, 2, 9)

end = datetime(2017, 5, 24)

In [39]:
pandas_datareader.mstar.daily.MorningstarDailyReader.close()

TypeError: close() missing 1 required positional argument: 'self'

In [55]:
f1 = pandas_datareader.mstar.daily.MorningstarDailyReader("AAPL", start, end).url

In [56]:
f

'http://globalquote.morningstar.com/globalcomponent/RealtimeHistoricalStockData.ashx'

In [57]:
f1

'http://globalquote.morningstar.com/globalcomponent/RealtimeHistoricalStockData.ashx'

In [58]:
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 

code_df.종목코드 = code_df.종목코드.map('{:06d}'.format) 

# 우리가 필요한 것은 회사명과 종목코드이기 때문에 필요없는 column들은 제외해준다. 

code_df = code_df[['회사명', '종목코드']] 

# 한글로된 컬럼명을 영어로 바꿔준다. 

code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})

In [59]:
code_df.head()

    name    code
0     CJ  001040
1    HDC  012630
2  HSD엔진  082740
3  KG케미칼  001390
4  LG이노텍  011070

In [69]:
# 종목 이름을 입력하면 종목에 해당하는 코드를 불러와 
# 네이버 금융(http://finance.naver.com)에 넣어줌 
def get_url(item_name, code_df): 
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False) 
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code) 
    
    print("요청 URL = {}".format(url)) 
    return url 

# 신라젠의 일자데이터 url 가져오기 
item_name='신라젠' 
url = get_url(item_name, code_df) 

# 일자 데이터를 담을 df라는 DataFrame 정의 
df = pd.DataFrame() 

# 1페이지에서 20페이지의 데이터만 가져오기 
for page in range(1, 1000): 
    pg_url = '{url}&page={page}'.format(url=url, page=page) 
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True) 

# df.dropna()를 이용해 결측값 있는 행 제거 
df = df.dropna() 

# 상위 5개 데이터 확인하기 
df.head()

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=215600

           날짜       종가     전일비       시가       고가       저가        거래량
1  2018.08.03  59200.0   700.0  59000.0  60300.0  58200.0  1586942.0
2  2018.08.02  58500.0   200.0  58600.0  58700.0  55700.0  2381023.0
3  2018.08.01  58300.0  6100.0  52500.0  60400.0  52400.0  5787849.0
4  2018.07.31  52200.0  2000.0  49900.0  52700.0  49750.0  1991424.0
5  2018.07.30  50200.0   800.0  48800.0  51000.0  47550.0  2050824.0

In [72]:
df.날짜

1        2018.08.03
2        2018.08.02
3        2018.08.01
4        2018.07.31
5        2018.07.30
9        2018.07.27
10       2018.07.26
11       2018.07.25
12       2018.07.24
13       2018.07.23
16       2018.07.20
17       2018.07.19
18       2018.07.18
19       2018.07.17
20       2018.07.16
24       2018.07.13
25       2018.07.12
26       2018.07.11
27       2018.07.10
28       2018.07.09
31       2018.07.06
32       2018.07.05
33       2018.07.04
34       2018.07.03
35       2018.07.02
39       2018.06.29
40       2018.06.28
41       2018.06.27
42       2018.06.26
43       2018.06.25
            ...
14919    2016.12.07
14920    2016.12.06
14926    2016.12.14
14927    2016.12.13
14928    2016.12.12
14929    2016.12.09
14930    2016.12.08
14934    2016.12.07
14935    2016.12.06
14941    2016.12.14
14942    2016.12.13
14943    2016.12.12
14944    2016.12.09
14945    2016.12.08
14949    2016.12.07
14950    2016.12.06
14956    2016.12.14
14957    2016.12.13
14958    2016.12.12
14959    2016.12.09
14960    2016.12.08
14964    2016.12.07
14965    2016.12.06
14971    2016.12.14
14972    2016.12.13
14973    2016.12.12
14974    2016.12.09
14975    2016.12.08
14979    2016.12.07
14980    2016.12.06
Name: 날짜, Length: 7113, dtype: object