# Machine Learning 세미나

과제

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
matplotlib.rcParams['axes.unicode_minus']=False

In [3]:
import sys
mod = sys.modules[__name__]

In [4]:
kospi200 = pd.read_csv("./data/data.csv", encoding="cp949")

In [5]:
kospi200.head()

     종목코드      종목명      현재가     대비   등락률        거래대금(원)          상장시가총액(원)
0    6840    AK홀딩스   75,700    100  0.13    325,887,900  1,002,840,367,700
1   27410      BGF    9,570    210  2.24  1,667,928,590    912,683,043,030
2  282330   BGF리테일  171,000  6,500  3.95  3,012,999,500  2,955,547,926,000
3  138930  BNK금융지주    8,910    -10  0.11  1,303,540,550  2,904,083,041,860
4    1040       CJ  139,500  1,500  1.09  2,449,033,000  4,070,191,221,000

In [6]:
kospi200 = kospi200[kospi200.columns[:2]]

In [7]:
kospi200.head()

     종목코드      종목명
0    6840    AK홀딩스
1   27410      BGF
2  282330   BGF리테일
3  138930  BNK금융지주
4    1040       CJ

In [8]:
kospi200["종목코드"] = kospi200["종목코드"].map('{:06d}'.format)

In [9]:
kospi200.head()

     종목코드      종목명
0  006840    AK홀딩스
1  027410      BGF
2  282330   BGF리테일
3  138930  BNK금융지주
4  001040       CJ

In [10]:
kospi200["morning"] = ["XKRX:" + i for i in kospi200["종목코드"]]

In [11]:
kospi200.head()

     종목코드      종목명      morning
0  006840    AK홀딩스  XKRX:006840
1  027410      BGF  XKRX:027410
2  282330   BGF리테일  XKRX:282330
3  138930  BNK금융지주  XKRX:138930
4  001040       CJ  XKRX:001040

In [12]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as web

In [13]:
from datetime import datetime

start = datetime(2013,7,1)
end = datetime(2018,7,31)

In [14]:
kospi200["morning"][0]

'XKRX:006840'

In [15]:
web.DataReader("AAPL", 'morningstar', start, end)

Exception: Request Error!: 404 : Not Found

In [ ]:
test