In [130]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [131]:
import pickle
with open('ten_raw_data.pickle','rb') as handle:
    raw_data = pickle.load(handle)
#삼성전자, SK하이닉스, 현대차, PSOCO, LG화학, NAVER, 삼성물산
#SK텔레콤, 현대모비스, KB금융
#"005930","000660","005380","047050","051910","035420","028260",
#"017670","012330","105560"

In [132]:
raw_data['005930'].head()

               Open     High      Low    Close  Adj Close    Volume
Date
2010-01-04  16060.0  16180.0  16000.0  16180.0   5.953252  11950800
2010-01-05  16520.0  16580.0  16300.0  16440.0   6.048919  27925850
2010-01-06  16580.0  16820.0  16520.0  16820.0   6.188735  22948850
2010-01-07  16820.0  16820.0  16260.0  16260.0   5.982689  22107950
2010-01-08  16400.0  16420.0  16120.0  16420.0   6.041558  14777550

In [133]:
raw_data['005930'].tail()

               Open     High      Low    Close  Adj Close   Volume
Date
2018-07-25  46250.0  46550.0  45900.0  46150.0    46150.0  7222471
2018-07-26  46100.0  47000.0  46000.0  46900.0    46900.0  7374946
2018-07-27  46450.0  47000.0  46450.0  46900.0    46900.0  4762460
2018-07-30  46550.0  46800.0  46350.0  46500.0    46500.0  5723035
2018-07-31  46200.0  46450.0  46000.0  46250.0    46250.0  8033607

In [134]:
len(raw_data)

10

In [135]:
stock_name=['삼성전자', 'SK하이닉스', '현대차', 'PSOCO', 'LG화학', 'NAVER',
'삼성물산','SK텔레콤', '현대모비스', 'KB금융']
stock_num=["005930","000660","005380","047050","051910","035420","028260",
"017670","012330","105560"]
for i in range(10):
    raw_data[stock_name[i]] = raw_data.pop(stock_num[i])

In [136]:
raw_data['삼성전자'].head()

               Open     High      Low    Close  Adj Close    Volume
Date
2010-01-04  16060.0  16180.0  16000.0  16180.0   5.953252  11950800
2010-01-05  16520.0  16580.0  16300.0  16440.0   6.048919  27925850
2010-01-06  16580.0  16820.0  16520.0  16820.0   6.188735  22948850
2010-01-07  16820.0  16820.0  16260.0  16260.0   5.982689  22107950
2010-01-08  16400.0  16420.0  16120.0  16420.0   6.041558  14777550

In [137]:
raw_data['삼성전자'].Close.pct_change().head(4)

Date
2010-01-04         NaN
2010-01-05    0.016069
2010-01-06    0.023114
2010-01-07   -0.033294
Name: Close, dtype: float64

In [138]:
raw_data['삼성전자'].Close.pct_change().shift(5).head(9)

Date
2010-01-04         NaN
2010-01-05         NaN
2010-01-06         NaN
2010-01-07         NaN
2010-01-08         NaN
2010-01-11         NaN
2010-01-12    0.016069
2010-01-13    0.023114
2010-01-14   -0.033294
Name: Close, dtype: float64

In [139]:
for i in raw_data.keys():
    """
    X
    """
    raw_data[i] = raw_data[i].assign(sh1_pct_change = raw_data[i].Close.pct_change().shift(1))
    raw_data[i] = raw_data[i].assign(sh5_pct_change = raw_data[i].Close.pct_change().shift(5))
    raw_data[i] = raw_data[i].assign(pct_change = raw_data[i].Close.pct_change().fillna(0))
    
    raw_data[i] = raw_data[i].assign(sh1_close_ma_3 = raw_data[i].Close.rolling(window =3).mean().shift(1))
    raw_data[i] = raw_data[i].assign(sh5_close_ma_3 = raw_data[i].Close.rolling(window =3).mean().shift(5))

    raw_data[i] = raw_data[i].assign(sh1_his_vol_7 = raw_data[i]["pct_change"].rolling(window = 7).std().shift(1)*(252**0.5))
    raw_data[i] = raw_data[i].assign(sh5_his_vol_7 = raw_data[i]["pct_change"].rolling(window = 7).std().shift(5)*(252**0.5))
    
    raw_data[i] = raw_data[i].assign(sh1_his_vol_21 = raw_data[i]["pct_change"].rolling(window = 21).std().shift(1)*(252**0.5))
    raw_data[i] = raw_data[i].assign(sh5_his_vol_21 = raw_data[i]["pct_change"].rolling(window = 21).std().shift(5)*(252**0.5))
   
    raw_data[i] = raw_data[i].assign(sh1_volume = raw_data[i].Volume.shift(1))
    raw_data[i] = raw_data[i].assign(sh5_volume = raw_data[i].Volume.shift(5))
    
    """
    Y
    """
    raw_data[i] = raw_data[i].assign(Y1 = raw_data[i].Close - raw_data[i].Close.rolling(window =7).mean().shift(1))
    raw_data[i] = raw_data[i].assign(Y1 = np.where(raw_data[i].Y1>=0, 1, 0))
    raw_data[i] = raw_data[i].assign(Y3 = raw_data[i].Close.rolling(window=7).mean() - raw_data[i].Close.rolling(window =7).mean().shift(1))
    raw_data[i] = raw_data[i].assign(Y3 = np.where(raw_data[i].Y3>=0, 1, 0))
    
    """
    Drop
    """
    raw_data[i] = raw_data[i].dropna(axis=0)

In [140]:
data = {}
for i in raw_data.keys():
    data[i] = raw_data[i].loc['2015-08-01':'2018-07-31']

In [141]:
for i in data.keys():
    if (len(data[i]) < 504):
        del data[i]
    elif (data[i][['Close','Volume','Open']].duplicated().sum() > 20):
        del data[i]

In [142]:
len(data)

10

In [144]:
train1 = {}
train1_idx = {}
test1 = {}
test1_idx = {}

train5 = {}
train5_idx = {}
test5 = {}
test5_idx = {}

for code, df in data.items():
    train1[code] = df.iloc[:int(len(df)*0.8)][["sh1_pct_change","sh1_close_ma_3","sh1_volume","sh1_his_vol_7","sh1_his_vol_21"]]
    train1_idx[code] = df.iloc[:int(len(df)*0.8)]["Y3"]    
    test1[code] = df.iloc[int(len(df)*0.8):][["sh1_pct_change","sh1_close_ma_3","sh1_volume","sh1_his_vol_7","sh1_his_vol_21"]]
    test1_idx[code] = df.iloc[int(len(df)*0.8):]["Y3"]
    
    train5[code] = df.iloc[:int(len(df)*0.8)][["sh5_pct_change","sh5_close_ma_3","sh5_volume","sh5_his_vol_7","sh5_his_vol_21"]]
    train5_idx[code] = df.iloc[:int(len(df)*0.8)]["Y3"]    
    test5[code] = df.iloc[int(len(df)*0.8):][["sh5_pct_change","sh5_close_ma_3","sh5_volume","sh5_his_vol_7","sh5_his_vol_21"]]
    test5_idx[code] = df.iloc[int(len(df)*0.8):]["Y3"]

In [145]:
train1_scale = {}
train1_idx_scale = {}
test1_scale = {}
test1_idx_scale = {}

train5_scale = {}
train5_idx_scale = {}
test5_scale = {}
test5_idx_scale = {}

for code, df in data.items():
    train1_scale[code] = df.iloc[:int(len(df)*0.8)][["sh1_pct_change","sh1_close_ma_3","sh1_volume","sh1_his_vol_7","sh1_his_vol_21"]]
    train1_idx_scale[code] = df.iloc[:int(len(df)*0.8)]["Y3"]    
    test1_scale[code] = df.iloc[int(len(df)*0.8):][["sh1_pct_change","sh1_close_ma_3","sh1_volume","sh1_his_vol_7","sh1_his_vol_21"]]
    test1_idx_scale[code] = df.iloc[int(len(df)*0.8):]["Y3"]
    
    train5_scale[code] = df.iloc[:int(len(df)*0.8)][["sh5_pct_change","sh5_close_ma_3","sh5_volume","sh5_his_vol_7","sh5_his_vol_21"]]
    train5_idx_scale[code] = df.iloc[:int(len(df)*0.8)]["Y3"]    
    test5_scale[code] = df.iloc[int(len(df)*0.8):][["sh5_pct_change","sh5_close_ma_3","sh5_volume","sh5_his_vol_7","sh5_his_vol_21"]]
    test5_idx_scale[code] = df.iloc[int(len(df)*0.8):]["Y3"]

In [146]:
train1['삼성전자'].head()

,sh1_pct_change,sh1_close_ma_3,sh1_volume,sh1_his_vol_7,sh1_his_vol_21
Date,,,,,
2015-08-03,-0.024691,24420.000000,19579450.0,0.330462,0.322405
2015-08-04,-0.008439,23833.333333,9844550.0,0.326568,0.314871
2015-08-05,0.005957,23613.333333,12844350.0,0.335496,0.301013
2015-08-06,-0.019459,23440.000000,12802500.0,0.341812,0.304783
2015-08-07,-0.037964,23040.000000,20199050.0,0.377340,0.327678

In [147]:
li1 = ["sh1_pct_change","sh1_close_ma_3","sh1_volume","sh1_his_vol_7","sh1_his_vol_21"]
li5 = ["sh5_pct_change","sh5_close_ma_3","sh5_volume","sh5_his_vol_7","sh5_his_vol_21"]

In [148]:
train_li = np.array([57,128,15,66,11,223,55,98,664,253], dtype=np.float)
test_li = np.array([227,127,68], dtype=np.float)

std_scaler = StandardScaler()
std_scaler.fit(train_li.reshape(-1,1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [149]:
std_scaler.transform(train_li.reshape(-1,1))

array([[-0.53829765],
       [-0.15610632],
       [-0.76438267],
       [-0.48985086],
       [-0.78591457],
       [ 0.35527645],
       [-0.54906361],
       [-0.31759562],
       [ 2.7291691 ],
       [ 0.51676575]])

In [150]:
std_scaler.transform(test_li.reshape(-1,1))
# Train set의 mean, std로 정규화를 시켜줘야 한다.

array([[ 0.37680836],
       [-0.1614893 ],
       [-0.47908491]])

In [151]:
std_scaler2 = StandardScaler()
std_scaler2.fit_transform(test_li.reshape(-1,1))
# Test set의 mean, std로 정규화를 시키면 위와 전혀다른 input을 넣게된다.

array([[ 1.31551764],
       [-0.20824797],
       [-1.10726967]])

In [152]:
from sklearn.preprocessing import StandardScaler

for code in data.keys():
    # Create StandardScaler object
    std_scaler1 = StandardScaler()
    std_scaler5 = StandardScaler()
    # fit
    std_scaler1.fit(train1_scale[code][li1].values)
    std_scaler5.fit(train5_scale[code][li5].values)
    # transform
    train1_scale[code][li1] = std_scaler1.transform(train1_scale[code][li1].values)
    test1_scale[code][li1] = std_scaler1.transform(test1_scale[code][li1].values)
    
    train5_scale[code][li5] = std_scaler5.transform(train5_scale[code][li5].values)
    test5_scale[code][li5] = std_scaler5.transform(test5_scale[code][li5].values)

In [157]:
std_scaler = StandardScaler()
test1['삼성전자'][li1] = std_scaler.fit_transform(test1['삼성전자'][li1].values)
test1['삼성전자'].head()
# fit_transform을 적용하여 test set의 mean과 std로 정규화를 적용했을 때

,sh1_pct_change,sh1_close_ma_3,sh1_volume,sh1_his_vol_7,sh1_his_vol_21
Date,,,,,
2017-12-22,-2.543971,0.780330,0.218415,0.416899,0.660755
2017-12-26,0.654199,0.533468,-0.323032,0.563198,0.644052
2017-12-27,-1.625364,-0.019503,0.269266,0.946825,0.936332
2017-12-28,1.348883,0.016704,-0.378840,1.655515,1.349283
2018-01-02,1.806610,0.224068,-0.593986,2.390017,0.850949

In [154]:
test1_scale['삼성전자'].head()
# fit 실시 후 transform을 적용하여 train set의 mean과 std로 정규화를 적용했을 때

,sh1_pct_change,sh1_close_ma_3,sh1_volume,sh1_his_vol_7,sh1_his_vol_21
Date,,,,,
2017-12-22,-2.993225,1.507612,0.678656,0.748069,1.080292
2017-12-26,0.618040,1.459368,-0.139840,0.855585,1.070141
2017-12-27,-1.955966,1.351300,0.755527,1.137513,1.247774
2017-12-28,1.402453,1.358376,-0.224203,1.658330,1.498744
2018-01-02,1.919304,1.398902,-0.549435,2.198117,1.195882

In [158]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn import metrics

xgb_clf = XGBClassifier(random_state=42)
log_clf = LogisticRegression()
svm_clf = SVC()
rf_clf = RandomForestClassifier(random_state=42)
gnb_clf = GaussianNB()
knn_clf = KNeighborsClassifier()
dt_clf = DecisionTreeClassifier()

In [159]:
models=[xgb_clf,rf_clf,log_clf,svm_clf,dt_clf,gnb_clf,knn_clf]
model_name=['xgb','rf','log','svm','dt','gnb','knn']

In [161]:
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
result = {}
# conf_mx = {}
for i in raw_data.keys():
    X_train = train1[i].values
    y_train = train1_idx[i].values
    X_test = test1[i].values
    y_test = test1_idx[i].values
    score = {}
#     confusion = {}
    for clf, name in zip(models, model_name):
        model_score = []
#         confusion_mat = []
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        try:
            y_prob = clf.predict_proba(X_test)
        except NotFittedError:
            clf.probability = True
            y_prob = clf.predict_proba(X_test)
        model_score.append(metrics.accuracy_score(y_test, y_pred))
        model_score.append(metrics.precision_score(y_test, y_pred))
        model_score.append(metrics.recall_score(y_test, y_pred))
        model_score.append(metrics.f1_score(y_test, y_pred))
        model_score.append(metrics.roc_auc_score(y_test, y_prob[:,1]))
        confusion_mat.append(confusion_matrix(y_test, y_pred))
        score[name] = model_score
#         confusion[name] = confusion_mat
    result[i] = score
#     conf_mx[i] = confusion

C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [162]:
for i in data.keys():
    print(i)
    print(pd.DataFrame(result[i],index=['accuracy', 'precision', 'recall', 'f1', 'auc']).apply(lambda x : round(x,4)*100),"\n")

삼성전자
              dt    gnb    knn    log     rf     svm    xgb
accuracy   59.18  49.66  49.66  59.18  49.66   50.34  54.42
precision  57.95   0.00   0.00  58.97  50.00   50.34  60.00
recall     68.92   0.00   0.00  62.16  74.32  100.00  28.38
f1         62.96   0.00   0.00  60.53  59.78   66.97  38.53
auc        59.12  62.46  50.00  62.37  51.77   50.00  53.47

SK하이닉스
              dt    gnb    knn     log     rf     svm    xgb
accuracy   48.98  50.34  51.02   53.74  60.54   53.74  59.86
precision  53.03  52.14  53.10   53.74  62.96   53.74  59.09
recall     44.30  92.41  75.95  100.00  64.56  100.00  82.28
f1         48.28  66.67  62.50   69.91  63.75   69.91  68.78
auc        49.36  53.83  45.81   56.57  62.89   50.00  64.16

현대차
              dt    gnb    knn    log     rf     svm    xgb
accuracy   53.06  53.74  54.42  39.46  52.38   46.94  48.98
precision  50.00  50.54  51.28  36.49  49.28   46.94  46.34
recall     53.62  68.12  57.97  39.13  49.28  100.00  55.07
f1         51.75  58.02  54.42  37.76  49.28   63.89  50.33
auc        53.09  54.25  47.02  36.05  54.66   50.00  53.60

PSOCO
              dt    gnb    knn    log     rf    svm    xgb
accuracy   59.86  58.50  63.27  57.14  61.22  49.66  65.99
precision  59.04  59.70  62.20  56.32  61.64   0.00  65.00
recall     66.22  54.05  68.92  66.22  60.81   0.00  70.27
f1         62.42  56.74  65.38  60.87  61.22   0.00  67.53
auc        59.82  65.83  66.31  63.46  65.30  50.00  70.00

LG화학
              dt    gnb    knn    log     rf     svm    xgb
accuracy   63.27  51.02  53.06  48.30  56.46   48.98  58.50
precision  60.71  50.00  51.43  48.63  56.25   48.98  56.32
recall     70.83  94.44  75.00  98.61  50.00  100.00  68.06
f1         65.38  65.38  61.02  65.14  52.94   65.75  61.64
auc        63.42  42.74  54.65  56.37  57.94   50.00  65.81

NAVER
              dt    gnb    knn     log     rf     svm    xgb
accuracy   53.06  44.90  48.98   43.54  53.74   42.86  55.10
precision  46.43  43.28  43.75   43.15  46.48   42.86  48.51
recall     61.90  92.06  66.67  100.00  52.38  100.00  77.78
f1         53.06  58.88  52.83   60.29  49.25   60.00  59.76
auc        54.17  45.69  49.31   56.63  55.57   50.00  64.22

삼성물산
              dt    gnb    knn    log     rf     svm    xgb
accuracy   52.38  47.62  44.22  45.58  56.46   47.62  55.10
precision  55.26  53.33  46.43  45.00  61.29  100.00  60.34
recall     53.85  10.26  33.33  11.54  48.72    1.28  44.87
f1         54.55  17.20  38.81  18.37  54.29    2.53  51.47
auc        52.29  50.32  41.82  40.02  60.52   49.36  64.73

SK텔레콤
              dt    gnb    knn    log     rf     svm    xgb
accuracy   55.10  46.26  48.98  44.90  61.22   47.62  53.06
precision  52.56  46.62  47.06  46.10  57.83   47.62  50.54
recall     58.57  88.57  57.14  92.86  68.57  100.00  67.14
f1         55.41  61.08  51.61  61.61  62.75   64.52  57.67
auc        55.26  45.14  51.03  51.73  65.83   50.00  61.47

현대모비스
              dt    gnb    knn     log     rf     svm    xgb
accuracy   55.10  46.94  48.98   41.50  57.82   41.50  56.46
precision  46.99  41.90  41.86   41.50  49.28   41.50  47.95
recall     63.93  72.13  59.02  100.00  55.74  100.00  57.38
f1         54.17  53.01  48.98   58.65  52.31   58.65  52.24
auc        56.39  51.91  47.96   47.20  61.62   50.00  64.70

KB금융
              dt     gnb    knn     log     rf     svm    xgb
accuracy   63.27   46.94  46.26   45.58  53.74   45.58  56.46
precision  58.44   46.21  44.23   45.58  49.32   45.58  51.18
recall     67.16  100.00  68.66  100.00  53.73  100.00  97.01
f1         62.50   63.21  53.80   62.62  51.43   62.62  67.01
auc        63.58   62.20  48.79   47.03  56.88   50.00  63.47

In [163]:
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
result = {}
# conf_mx = {}
for i in raw_data.keys():
    X_train = train5[i].values
    y_train = train5_idx[i].values
    X_test = test5[i].values
    y_test = test5_idx[i].values
    score = {}
#     confusion = {}
    for clf, name in zip(models, model_name):
        model_score = []
#         confusion_mat = []
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        try:
            y_prob = clf.predict_proba(X_test)
        except NotFittedError:
            clf.probability = True
            y_prob = clf.predict_proba(X_test)
        model_score.append(metrics.accuracy_score(y_test, y_pred))
        model_score.append(metrics.precision_score(y_test, y_pred))
        model_score.append(metrics.recall_score(y_test, y_pred))
        model_score.append(metrics.f1_score(y_test, y_pred))
        model_score.append(metrics.roc_auc_score(y_test, y_prob[:,1]))
        confusion_mat.append(confusion_matrix(y_test, y_pred))
        score[name] = model_score
#         confusion[name] = confusion_mat
    result[i] = score
#     conf_mx[i] = confusion

C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\JinMyungHun\Anaconda3\envs\ds\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [164]:
for i in data.keys():
    print(i)
    print(pd.DataFrame(result[i],index=['accuracy', 'precision', 'recall', 'f1', 'auc']).apply(lambda x : round(x,4)*100),"\n")

삼성전자
              dt    gnb    knn     log     rf     svm    xgb
accuracy   64.63  48.98  46.94   52.38  63.95   50.34  62.59
precision  62.79  49.18  47.96   51.39  64.00   50.34  71.11
recall     72.97  40.54  63.51  100.00  64.86  100.00  43.24
f1         67.50  44.44  54.65   67.89  64.43   66.97  53.78
auc        64.57  59.20  44.08   50.98  67.75   50.00  65.35

SK하이닉스
              dt    gnb    knn     log     rf     svm    xgb
accuracy   56.46  53.06  52.38   53.74  59.18   53.74  56.46
precision  61.90  53.42  54.05   53.74  70.21   53.74  65.31
recall     49.37  98.73  75.95  100.00  41.77  100.00  40.51
f1         54.93  69.33  63.16   69.91  52.38   69.91  50.00
auc        57.04  59.62  53.27   35.31  63.45   50.00  65.87

현대차
              dt    gnb    knn    log     rf     svm    xgb
accuracy   53.74  57.82  54.42  46.94  57.82   46.94  64.63
precision  50.59  57.78  51.25  41.82  53.93   46.94  58.25
recall     62.32  37.68  59.42  33.33  69.57  100.00  86.96
f1         55.84  45.61  55.03  37.10  60.76   63.89  69.77
auc        54.24  58.58  54.94  47.27  62.86   50.00  67.22

PSOCO
              dt    gnb    knn    log     rf    svm    xgb
accuracy   47.62  53.74  53.74  53.74  48.30  49.66  53.06
precision  48.31  54.69  54.17  53.85  48.44   0.00  53.33
recall     58.11  47.30  52.70  56.76  41.89   0.00  54.05
f1         52.76  50.72  53.42  55.26  44.93   0.00  53.69
auc        47.55  57.63  57.36  56.68  47.85  50.00  52.73

LG화학
              dt    gnb    knn     log     rf     svm    xgb
accuracy   49.66  55.78  51.02   48.98  48.30   48.98  50.34
precision  48.21  55.93  50.00   48.98  46.00   48.98  48.89
recall     37.50  45.83  61.11  100.00  31.94  100.00  30.56
f1         42.19  50.38  55.00   65.75  37.70   65.75  37.61
auc        49.42  59.43  49.58   38.59  51.00   50.00  58.48

NAVER
              dt    gnb    knn     log     rf     svm    xgb
accuracy   48.30  44.22  46.94   42.86  59.18   42.86  54.42
precision  41.98  42.86  40.96   42.86  52.05   42.86  47.96
recall     53.97  90.48  53.97  100.00  60.32  100.00  74.60
f1         47.22  58.16  46.58   60.00  55.88   60.00  58.39
auc        49.01  52.87  46.99   52.74  62.57   50.00  63.00

삼성물산
              dt    gnb    knn    log     rf    svm    xgb
accuracy   54.42  43.54  48.30  43.54  55.78  46.94  58.50
precision  56.04  38.10  51.52  33.33  58.67   0.00  59.34
recall     65.38  10.26  43.59   6.41  56.41   0.00  69.23
f1         60.36  16.16  47.22  10.75  57.52   0.00  63.91
auc        53.71  48.85  49.68  39.65  61.77  50.64  63.89

SK텔레콤
              dt    gnb    knn     log     rf     svm    xgb
accuracy   53.06  51.70  49.66   47.62  55.10   47.62  57.82
precision  50.70  49.54  46.77   47.62  54.00   47.62  55.71
recall     51.43  77.14  41.43  100.00  38.57  100.00  55.71
f1         51.06  60.34  43.94   64.52  45.00   64.52  55.71
auc        52.99  55.47  48.04   50.17  57.86   50.00  60.95

현대모비스
              dt    gnb    knn     log     rf     svm    xgb
accuracy   60.54  51.70  53.06   41.50  54.42   41.50  57.14
precision  51.61  46.03  46.08   41.50  46.59   41.50  48.96
recall     78.69  95.08  77.05  100.00  67.21  100.00  77.05
f1         62.34  62.03  57.67   58.65  55.03   58.65  59.87
auc        63.18  66.05  55.22   49.22  61.89   50.00  62.08

KB금융
              dt    gnb    knn    log     rf     svm    xgb
accuracy   59.86  53.06  51.02  51.02  53.06   45.58  51.70
precision  54.35  47.62  47.31  46.91  48.65   45.58  47.73
recall     74.63  29.85  65.67  56.72  53.73  100.00  62.69
f1         62.89  36.70  55.00  51.35  51.06   62.62  54.19
auc        61.06  51.18  56.69  51.81  53.20   50.00  56.64

In [165]:
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
result = {}
# conf_mx = {}
for i in raw_data.keys():
    X_train = train1_scale[i].values
    y_train = train1_idx_scale[i].values
    X_test = test1_scale[i].values
    y_test = test1_idx_scale[i].values
    score = {}
#     confusion = {}
    for clf, name in zip(models, model_name):
        model_score = []
#         confusion_mat = []
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        try:
            y_prob = clf.predict_proba(X_test)
        except NotFittedError:
            clf.probability = True
            y_prob = clf.predict_proba(X_test)
        model_score.append(metrics.accuracy_score(y_test, y_pred))
        model_score.append(metrics.precision_score(y_test, y_pred))
        model_score.append(metrics.recall_score(y_test, y_pred))
        model_score.append(metrics.f1_score(y_test, y_pred))
        model_score.append(metrics.roc_auc_score(y_test, y_prob[:,1]))
        confusion_mat.append(confusion_matrix(y_test, y_pred))
        score[name] = model_score
#         confusion[name] = confusion_mat
    result[i] = score
#     conf_mx[i] = confusion

In [166]:
for i in data.keys():
    print(i)
    print(pd.DataFrame(result[i],index=['accuracy', 'precision', 'recall', 'f1', 'auc']).apply(lambda x : round(x,4)*100),"\n")

삼성전자
              dt    gnb    knn    log     rf    svm    xgb
accuracy   55.10  51.70  65.99  51.02  53.74  63.27  54.42
precision  55.26  51.81  63.04  51.32  55.77  59.26  54.55
recall     56.76  58.11  78.38  52.70  39.19  86.49  56.76
f1         56.00  54.78  69.88  52.00  46.03  70.33  55.63
auc        55.09  54.87  68.51  58.05  58.17  63.01  61.64

SK하이닉스
              dt    gnb    knn    log     rf    svm    xgb
accuracy   48.98  59.18  65.31  61.22  60.54  60.54  59.86
precision  53.03  57.48  72.58  58.46  62.96  59.63  59.09
recall     44.30  92.41  56.96  96.20  64.56  82.28  82.28
f1         48.28  70.87  63.83  72.73  63.75  69.15  68.78
auc        49.36  65.71  69.95  68.54  62.89  68.71  64.16

현대차
              dt    gnb    knn    log     rf    svm    xgb
accuracy   52.38  58.50  60.54  63.95  52.38  58.50  48.98
precision  49.33  55.88  57.33  61.11  49.28  55.41  46.34
recall     53.62  55.07  62.32  63.77  49.28  59.42  55.07
f1         51.39  55.47  59.72  62.41  49.28  57.34  50.33
auc        52.45  58.23  62.40  66.65  54.66  63.34  53.60

PSOCO
              dt    gnb    knn    log     rf    svm    xgb
accuracy   59.18  60.54  61.22  60.54  61.22  67.35  65.99
precision  57.95  60.53  60.00  59.30  61.64  66.25  65.00
recall     68.92  62.16  68.92  68.92  60.81  71.62  70.27
f1         62.96  61.33  64.15  63.75  61.22  68.83  67.53
auc        59.12  64.90  64.87  67.77  65.30  73.08  70.00

LG화학
              dt    gnb    knn    log     rf    svm    xgb
accuracy   57.82  57.82  51.02  59.18  56.46  62.59  58.50
precision  55.81  54.63  50.00  55.08  56.25  60.49  56.32
recall     66.67  81.94  66.67  90.28  50.00  68.06  68.06
f1         60.76  65.56  57.14  68.42  52.94  64.05  61.64
auc        58.00  63.81  57.52  69.54  57.94  63.80  65.81

NAVER
              dt    gnb    knn    log     rf    svm    xgb
accuracy   51.02  53.74  59.18  57.14  53.74  55.10  55.10
precision  45.26  48.03  51.85  50.00  46.48  48.65  48.51
recall     68.25  96.83  66.67  82.54  52.38  85.71  77.78
f1         54.43  64.21  58.33  62.28  49.25  62.07  59.76
auc        53.17  67.27  63.91  65.78  55.57  68.80  64.22

삼성물산
              dt    gnb    knn    log     rf    svm    xgb
accuracy   51.02  47.62  53.06  51.02  56.46  52.38  55.10
precision  53.95  53.33  57.14  60.71  61.29  58.70  60.34
recall     52.56  10.26  46.15  21.79  48.72  34.62  44.87
f1         53.25  17.20  51.06  32.08  54.29  43.55  51.47
auc        50.92  57.00  60.48  63.66  60.89  65.11  64.75

SK텔레콤
              dt    gnb    knn    log     rf    svm    xgb
accuracy   57.14  53.74  66.67  63.27  61.22  59.18  53.06
precision  54.12  50.94  62.07  59.52  57.83  55.00  50.54
recall     65.71  77.14  77.14  71.43  68.57  78.57  67.14
f1         59.35  61.36  68.79  64.94  62.75  64.71  57.67
auc        57.53  62.36  70.20  69.50  65.57  70.78  61.47

현대모비스
              dt    gnb    knn    log     rf    svm    xgb
accuracy   52.38  55.10  61.90  58.50  57.82  55.78  56.46
precision  44.16  46.91  53.01  50.00  49.28  47.83  47.95
recall     55.74  62.30  72.13  65.57  55.74  72.13  57.38
f1         49.28  53.52  61.11  56.74  52.31  57.52  52.24
auc        52.87  64.37  68.16  67.59  61.62  67.08  64.70

KB금융
              dt     gnb    knn    log     rf    svm    xgb
accuracy   63.95   53.74  53.06  60.54  53.74  59.86  56.46
precision  59.72   49.63  49.02  53.66  49.32  53.23  51.18
recall     64.18  100.00  74.63  98.51  53.73  98.51  97.01
f1         61.87   66.34  59.17  69.47  51.43  69.11  67.01
auc        63.96   65.35  54.12  67.48  56.88  69.49  63.47

In [167]:
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
result = {}
# conf_mx = {}
for i in raw_data.keys():
    X_train = train5_scale[i].values
    y_train = train5_idx_scale[i].values
    X_test = test5_scale[i].values
    y_test = test5_idx_scale[i].values
    score = {}
#     confusion = {}
    for clf, name in zip(models, model_name):
        model_score = []
#         confusion_mat = []
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        try:
            y_prob = clf.predict_proba(X_test)
        except NotFittedError:
            clf.probability = True
            y_prob = clf.predict_proba(X_test)
        model_score.append(metrics.accuracy_score(y_test, y_pred))
        model_score.append(metrics.precision_score(y_test, y_pred))
        model_score.append(metrics.recall_score(y_test, y_pred))
        model_score.append(metrics.f1_score(y_test, y_pred))
        model_score.append(metrics.roc_auc_score(y_test, y_prob[:,1]))
        confusion_mat.append(confusion_matrix(y_test, y_pred))
        score[name] = model_score
#         confusion[name] = confusion_mat
    result[i] = score
#     conf_mx[i] = confusion

In [168]:
for i in data.keys():
    print(i)
    print(pd.DataFrame(result[i],index=['accuracy', 'precision', 'recall', 'f1', 'auc']).apply(lambda x : round(x,4)*100),"\n")

삼성전자
              dt    gnb    knn    log     rf    svm    xgb
accuracy   61.90  60.54  57.82  61.22  63.95  61.22  62.59
precision  60.98  62.90  60.00  63.93  64.00  66.67  71.11
recall     67.57  52.70  48.65  52.70  64.86  45.95  43.24
f1         64.10  57.35  53.73  57.78  64.43  54.40  53.78
auc        61.87  65.57  62.02  66.14  67.75  64.73  65.35

SK하이닉스
              dt    gnb    knn    log     rf    svm    xgb
accuracy   56.46  59.86  62.59  59.18  59.18  65.31  56.46
precision  61.90  59.62  65.38  58.41  70.21  63.73  65.31
recall     49.37  78.48  64.56  83.54  41.77  82.28  40.51
f1         54.93  67.76  64.97  68.75  52.38  71.82  50.00
auc        57.04  70.59  63.75  69.04  63.45  65.95  65.76

현대차
              dt    gnb    knn    log     rf    svm    xgb
accuracy   56.46  64.63  58.50  64.63  57.82  61.22  65.31
precision  52.81  66.67  54.44  62.69  53.93  56.52  58.82
recall     68.12  49.28  71.01  60.87  69.57  75.36  86.96
f1         59.49  56.67  61.64  61.76  60.76  64.60  70.18
auc        57.13  69.86  62.96  68.75  62.77  68.45  67.28

PSOCO
              dt    gnb    knn    log     rf    svm    xgb
accuracy   47.62  50.34  53.06  59.86  48.30  57.82  53.06
precision  48.31  50.70  53.33  61.19  48.44  60.00  53.33
recall     58.11  48.65  54.05  55.41  41.89  48.65  54.05
f1         52.76  49.66  53.69  58.16  44.93  53.73  53.69
auc        47.55  49.78  53.65  63.44  48.21  59.02  52.73

LG화학
              dt    gnb    knn    log     rf    svm    xgb
accuracy   48.30  56.46  50.34  59.86  48.30  59.86  50.34
precision  45.24  55.71  49.12  58.23  46.00  62.75  48.89
recall     26.39  54.17  38.89  63.89  31.94  44.44  30.56
f1         33.33  54.93  43.41  60.93  37.70  52.03  37.61
auc        47.86  62.48  54.30  66.02  50.92  62.70  58.43

NAVER
              dt    gnb    knn    log     rf    svm    xgb
accuracy   53.06  51.70  60.54  57.14  59.18  59.86  54.42
precision  45.83  46.88  52.94  50.00  52.05  51.92  47.96
recall     52.38  95.24  71.43  80.95  60.32  85.71  74.60
f1         48.89  62.83  60.81  61.82  55.88  64.67  58.39
auc        52.98  68.05  59.83  65.97  62.57  63.39  63.00

삼성물산
              dt    gnb    knn    log     rf    svm    xgb
accuracy   55.10  53.06  59.18  54.42  54.42  57.82  59.18
precision  57.14  63.64  59.57  57.33  57.53  59.52  60.00
recall     61.54  26.92  71.79  55.13  53.85  64.10  69.23
f1         59.26  37.84  65.12  56.21  55.63  61.73  64.29
auc        54.68  56.65  58.18  62.69  61.22  63.40  64.45

SK텔레콤
              dt    gnb    knn    log     rf    svm    xgb
accuracy   56.46  57.82  57.14  59.86  55.10  61.90  57.82
precision  53.95  54.44  55.22  57.75  54.00  59.46  55.71
recall     58.57  70.00  52.86  58.57  38.57  62.86  55.71
f1         56.16  61.25  54.01  58.16  45.00  61.11  55.71
auc        56.56  62.56  62.36  66.47  57.86  66.27  60.74

현대모비스
              dt    gnb    knn    log     rf    svm    xgb
accuracy   58.50  57.14  51.02  57.14  54.42  56.46  57.14
precision  50.00  49.02  44.33  49.06  46.59  48.57  48.96
recall     77.05  81.97  70.49  85.25  67.21  83.61  77.05
f1         60.65  61.35  54.43  62.28  55.03  61.45  59.87
auc        61.20  67.38  57.64  72.66  61.79  59.91  62.08

KB금융
              dt    gnb    knn    log     rf    svm    xgb
accuracy   58.50  57.82  48.98  58.50  53.06  53.06  51.70
precision  53.26  53.01  45.12  53.00  48.65  48.84  47.73
recall     73.13  65.67  55.22  79.10  53.73  62.69  62.69
f1         61.64  58.67  49.66  63.47  51.06  54.90  54.19
auc        59.69  64.61  56.92  64.53  53.20  61.29  56.64